/* Resetting default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting overall font and colors */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}
.header {
  text-align: center;
  padding: 20px;
  background-color: #2c3e50;
  color: white;
}

/* Profile image styling */
.header img {
  width: 120px;
  height: 120px;
  border-radius: 90%; /* makes image circular */
  margin-top: 10px;
}

/* Heading sizes */
.header h1 {
  font-size: 28px;
}

.header p {
  font-size: 16px;
}

nav ul {
  display: flex; /* horizontal layout */
  justify-content: center;
  background-color: #34495e;
  list-style: none;
}

nav ul li {
  padding: 15px;
}

/* Links */
nav ul li a {
  text-decoration: none;
  color: white;
}

/* Hover effect */
nav ul li a:hover {
  color: #f1c40f;
}
